.contentRow {
  display: flex;
  flex-direction: row;
  gap: 38px; /* κενό ανάμεσα σε φόρμα και output */
  flex: 1 1 auto;
}

.descriptionBox {
  background-color: hsl(0, 0%, 100%);
  padding: 25px;
  border-radius: 12px;
  max-width: 90vw; /*vw → ποσοστό του πλάτους της οθόνης*/
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
}

.title {
  text-align: center;
  color: hsla(226, 100%, 6%, 0.876);
  margin: 0px;
}

.text {
  margin: 0;
  font-size: 13px;
  line-height: 1.6;
  color: hsl(215, 14%, 34%);
  text-align: justify;
  padding: 10px;
}

.formCard {
  border-radius: 15px;
  padding: 20px 20px 20px;
  background: hsl(0, 0%, 100%);
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  font-size: 18px;
  text-align: center;
  color: hsl(226, 100%, 6%);
  margin: 0px;
  font-style:
    Times New Roman,
    Times,
    serif;
}

.formInner {
  border-radius: 12px;
  padding: 10px 20px;
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}

/* Groups: Frontend,Backend,Database */
.group {
  background:   hsl(210, 36%, 96%);
  border-radius: 8px;
  padding: 10px 10px;
  border: 2px solid hsla(220, 48%, 16%, 0.198);
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
}

.groupContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.groupTitle {
  margin: 0;
  font-size: 15px;
  text-align: center;
}

/* Κουμπί CALCULATE */
.calculateButton {
  margin-top: 30px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 3px solid hsla(211, 15%, 54%, 0.601);
  background: hsl(225, 16%, 80%);
  font-weight: 600;
  cursor: pointer;
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
  font-size: larger;
}

.calculateButton:hover {
  background-color: hsl(227, 74%, 43%);
}

.outputBox {
  margin-left: auto;
  margin-right: 20px;
  width: 40vw;
  min-height: 300px;
  border-radius: 15px;
  padding: 20px 20px 20px;
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
  background: hsl(0, 0%, 100%);
}

.graphContainer {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
  overflow: auto;
}
