.page {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.descriptionBox {
  background-color: hsl(0, 0%, 100%);
  padding: 25px;
  border-radius: 12px;
  max-width: 90vw;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
}

.title {
  text-align: center;
  color: hsla(226, 100%, 6%, 0.876);
  margin: 0px;
}

.text {
  margin: 0;
  font-size: 13px;
  line-height: 1.6;
  color: hsl(215, 14%, 34%);
  text-align: justify;
  padding: 10px;
}

.graphContainer {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
  overflow: auto;
}
