.mainContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 24px;
  background-color: hsl(210, 60%, 90%);
  min-height: 100vh;
}
.descriptionBox {
  background-color: hsl(0, 0%, 100%);
  padding: 25px;
  border-radius: 12px;
  max-width: 90vw; /*vw → ποσοστό του πλάτους της οθόνης*/
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
}

.title {
  text-align: center;
  color: hsla(226, 100%, 6%, 0.876);
  margin: 0px;
}

.text {
  margin: 0;
  font-size: 13px;
  line-height: 1.6;
  color: hsl(215, 14%, 34%);
  text-align: justify;
  padding: 10px;
}

.formTitle {
  font-size: 18px;
  text-align: center;
  color: hsl(226, 100%, 6%);
  margin: 0px;
  font-style:
    Times New Roman,
    Times,
    serif;
}

/* Η σειρά με τα 3 κουτιά */
.tiersRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

/* κάθε κουτί */
.tierCard {
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 12px;
  padding: 12px;
  background: hsl(0, 0%, 100%);
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
}

.tierTitle {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
}

/* τα inputs μέσα σε κάθε κουτί: 2 στήλες */
.inputsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 12px;
}

/* Κουμπί CALCULATE */
.calculateButton {
  display: block;
  margin: 30px auto 0;
  margin-top: 30px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 3px solid hsla(211, 15%, 54%, 0.601);
  background: hsl(225, 16%, 80%);
  font-weight: 600;
  cursor: pointer;
  box-shadow: 3px 3px 5px hsla(220, 36%, 71%, 0.5);
  font-size: larger;
  transition: transform 0.1s ease;
}

.calculateButton:hover {
  background-color: hsl(227, 74%, 43%);
}
.calculateButton:active {
  transform: scale(0.95);
}

h3 {
  margin: 0;
  font-size: 15px;
  text-align: center;
}
