.page {
  min-height: 100vh;
  background: hsl(224, 69%, 88%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page .graphContainer {
  width: 100%;
  height: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.1);
}