.mainContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 24px;
  background-color: hsl(210, 60%, 90%); 
  min-height: 100vh;
}
.nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: hsl(210, 36%, 96%);
  border-radius: 8px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
}
.navLink {
  font-size: 13px;
  color: hsla(0, 0%, 0%, 0.643);
  margin: 0 4px 0;
  text-decoration: none;
  padding: 5px 8px;
}
.navLinkSelected {
  font-size: 1%;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.695);
  background-color: hsl(30, 86%, 48%);
  border: 2px solid hsla(0, 0%, 0%, 0.738);
  border-radius: 5px;
  padding: 1px;
  text-decoration: underline;
  margin: 2px;
}
.navText {
  margin: 2px;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.824);
}
.content {
  flex: 1;
  min-height: 100vh;
}