.page {
  display: flex;
  background-color: hsl(224, 58%, 85%); 
  font-family:'Times New Roman', Times, serif;
  justify-content: center;
}

.descriptionBox {
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 12px;
  max-width: 80vw; /*vw → ποσοστό του πλάτους της οθόνης*/
  box-shadow: 3px 3px 5px;
}

.title {
  text-align: center;
  color: hsl(226, 100%, 6%);
  padding: 10px 10px;
  margin-bottom: 20px;
}

.text {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  color: hsl(215, 14%, 34%);
}
