.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.paragraph {
  background-color: red;
  flex-grow: 0.2;
}

.content {
  background-color: blue;
  flex-grow: 1;
  flex-direction: row;
  display: flex;
}

.form {
  background-color: green;
  flex-grow: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.networkCalculator {
  background-color: yellow;
  flex-grow: 0.5;
}
