.page {
  min-height: 100vh;
  background: hsl(224, 69%, 88%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contentRow {
  display: flex;
  flex-direction: row;
  gap: 38px; /* κενό ανάμεσα σε φόρμα και output */
  flex: 1 1 auto;
}

.descriptionBox {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 12px;
  max-width: 80vw; /*vw → ποσοστό του πλάτους της οθόνης*/
}

.title {
  text-align: center;
  color: hsl(226, 100%, 6%);
  margin: 0px;
}

.text {
  margin: 0;
  font-size: 13px;
  line-height: 1.6;
  color: hsl(215, 14%, 34%);
}

.formCard {
  border-radius: 16px;
  padding: 20px 20px 20px;

  /* θολώνει ό,τι βρίσκεται από πίσω */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  box-shadow: 3px 3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  font-size: 18px;
  text-align: center;
  color: hsl(226, 100%, 6%);
  margin: 0px;
  font-style:
    Times New Roman,
    Times,
    serif;
}

.formInner {
  border: hsl(222, 46%, 12%) 3px solid;
  border-radius: 12px;
  padding: 10px 20px;
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  box-shadow: 3px 3px 5px;
}

/* Groups: Frontend,Backend,Database */
.group {
  background: hsl(218, 100%, 98%);
  border-radius: 8px;
  padding: 10px 10px;
  border: 2px solid hsl(221, 48%, 16%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 3px 3px 5px;
}

.groupContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.groupTitle {
  margin: 0;
  font-size: 15px;
  text-align: center;
}

/* Κουμπί CALCULATE */
.calculateButton {
  margin-top: 15px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 3px solid hsl(212, 15%, 54%);
  background: hsl(225, 16%, 80%);
  font-weight: 600;
  cursor: pointer;
  box-shadow: 3px 3px 5px;
  font-size: larger;
}

.calculateButton:hover {
  background-color: hsl(207, 4%, 51%);
}

.outputBox {
  margin-left: auto;
  margin-right: 20px;
  width: 40vw;
  min-height: 300px;
  border-radius: 16px;
  padding: 20px 20px 20px;
  box-shadow: 3px 3px 5px;
  background: hsl(0, 0%, 100%);
}
